<div class="container-fluid contenerdor_completo">
    <div class="row">
  
      <div class="col-lg-3 primera_col">
        <h4> {{ title }}</h4> 
  
        <div class="barra_navegación">
            <a class="w3-bar-item w3-button" href=""> 
              <img alt=""  src="../assets/iconos/menu_g.png" class="icono"/> Categories
            </a>
  
            <a class="w3-bar-item w3-button" href=""> 
              <img  alt="" src="../assets/iconos/transactions_g.png" class="icono"/> Transactions
            </a>
  
            <a class="w3-bar-item w3-button" href=""> 
              <img alt="" src="../assets/iconos/budget_g.png" class="icono"/> Budgets
            </a>
        </div>
  
        <div class="usuario">
          <h6>Testino Diprueba</h6>
          <p class="mail">testino@mail.com</p>
          <p class="out">Log out</p>
        
  
        </div>
  
  
  
      </div>
  
  
  <div class="col-lg-6 segunda_col">
  <h3>Categories</h3> 
  
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
  
    <div class="collapse navbar-collapse mini_barra" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
        <li class="nav-item">
          <img alt=""  src="../assets/iconos/menos_g.png" class="icono2"/> 
          <a class="subtitulo" href="#">Expenses</a>
        </li>
        
  
        <li class="nav-item">
          <img alt=""  src="../assets/iconos/mas_g.png" class="icono2"/> 
          <a class="subtitulo" href="#">Income</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <app-categories></app-categories>
  </div>
  
  <div class="col-lg-3 segunda_col">
  <h3>Transactions</h3>
  <app-transactions-master></app-transactions-master>
  </div>