.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-center {
    width: 400px;    
}

.btn{
    background-color: #f472b6;
    color: rgb(255, 255, 255);
    border: none;
}
.btn-register{
    background-color: rgb(255, 255, 255);
    color: #f472b6;
    border: none;

}

h1{
    text-align: center;
    font-weight: 700;
    font-size: 2em;
}

.register{
    text-align: center;
    margin-top: 1.5em;
}