<div class="container">
  <div class="container-center">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
        <div class="mb-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="example@mail.com" id="email" name="email" required formControlName="email">
            <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']" class="alert alert-danger">This field is required.</div>
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="******" id="password" name="password" required formControlName="password">
            <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['required']" class="alert alert-danger">This field is required.</div>
        </div>
        <div class="d-grid gap-2 col-4 float-center" style="width: auto;">
            <button type="submit" class="btn" [disabled]="contactForm.invalid" (click)="changeRouteLoginToHome()">Login</button>
        </div>
        
    </form>
    <div class="register">
        <a><button class="btn-register" (click)="changeRouteRegisterToHome()">Register</button></a>
    </div>
    
  </div>
</div>
