
        <button type="button" (click)="openFormModal()" class="boton-ad btn-dark">
          <i class="fa-duotone fa-plus"></i>
        </button>
  
  <!--form modal-->
  <div class="modal fade myCustomModalClass" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">New category</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <div> <label style="text-align: left;" id="labelName" for="name"> NAME</label> </div>
            <div> <input class="caja-texto" type="text" name="name" id="name" [(ngModel)] = "categories.name"> </div>
            <div> <label for="name" id="labelType"> TYPE</label></div>
            <div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="expense"
                  checked [(ngModel)] = "categories.type">
                <label class="form-check-label" id="labelExpense" for="exampleRadios1">
                  Expense
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="income">
                <label class="form-check-label" id="labelIncome" for="exampleRadios2" checked [(ngModel)] = "categories.type">
                  Income
                </label>
              </div>
            </div>
             <ul class="bloque-ul">
              <div><label for="color" id="labelColor"> COLOR</label></div>
              <li> <button type="button" class="btn btn-1 btn-circle" (click)="agregarColor('borde-1')"></button> </li>
              <li> <button type="button" class="btn btn-2 btn-circle" (click)="agregarColor('borde-2')"></button> </li>
              <li> <button type="button" class="btn btn-3 btn-circle" (click)="agregarColor('borde-3')"></button> </li>
              <li> <button type="button" class="btn btn-4 btn-circle" (click)="agregarColor('borde-4')"></button> </li>
              <li> <button type="button" class="btn btn-5 btn-circle" (click)="agregarColor('borde-5')"></button> </li>
              <li> <button type="button" class="btn btn-6 btn-circle" (click)="agregarColor('borde-6')"></button> </li>
              <li> <button type="button" class="btn btn-7 btn-circle" (click)="agregarColor('borde-7')"></button> </li>
              <li> <button type="button" class="btn btn-8 btn-circle" (click)="agregarColor('borde-8')"></button> </li>
            </ul>
            <ul class="bloque-ul">
              <div><label for="icon" id="labelIcon"> ICON</label></div>
              <li><button type="button" class="btn btn-gris btn-circles " (click)="agregarIcono('fa fa-university')"><i class="fa fa-university"></i></button></li>
              <li><button type="button" class="btn btn-gris btn-circles " (click)="agregarIcono('fas fa-shopping-cart')"><i class="fas fa-shopping-cart"></i> </button> </li>
              <li><button type="button" class="btn btn-gris btn-circles " (click)="agregarIcono('fas fa-medkit')"><i class="fas fa-medkit"></i></button></li>
              <li><button type="button" class="btn btn-gris btn-circles " (click)="agregarIcono('fas fa-gamepad')"><i class="fas fa-gamepad"></i></button></li>
              <li><button type="button" class="btn btn-gris btn-circles " (click)="agregarIcono('fas fa-graduation-cap')"><i class="fas fa-graduation-cap"></i></button> </li>
              <li><button type="button" class="btn btn-gris btn-circles " (click)="agregarIcono('fas fa-gift')"><i class="fas fa-gift"></i></button></li>
              <li><button type="button" class="btn btn-gris btn-circles " (click)="agregarIcono('fas fa-car')"><i class="fas fa-car"></i></button></li>
              <li><button type="button" class="btn btn-gris btn-circles " (click)="agregarIcono('fa-solid fa-book')"><i class="fa-solid fa-book"></i></button></li>
            </ul>
            <div><button type="button" class="btn btn-create col-md-12"
                (click)="saveSomeThing()">Create</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div id="Test">

</div>
