<div class="container">
    <h1>Contact Form</h1>
<form (ngSubmit)="register()" [formGroup]="contactForm">
    <div class="mb-4">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required formControlName="email">
        <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']" class="alert alert-danger">This field is required.</div>
    </div>
    <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required formControlName="password">
        <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['required']" class="alert alert-danger">This field is required.</div>
    </div>
    <div class="mb-4">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" required formControlName="first_name">
        <div *ngIf="contactForm.get('first_name')?.touched && contactForm.get('first_name')?.errors?.['required']" class="alert alert-danger">This field is required.</div>
        <div *ngIf="contactForm.get('first_name')?.touched && contactForm.get('first_name')?.errors?.['minlength']" class="alert alert-danger">Name must be longer than {{contactForm.get('first_name')?.touched && contactForm.get('first_name')?.errors?.['minlength']?.requiredLength}} characters.</div>
    </div>
    <div class="mb-4">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required formControlName="last_name">
        <div *ngIf="contactForm.get('last_name')?.touched && contactForm.get('last_name')?.errors?.['required']" class="alert alert-danger">This field is required.</div>
        <div *ngIf="contactForm.get('last_name')?.touched && contactForm.get('last_name')?.errors?.['minlength']" class="alert alert-danger">Name must be longer than {{contactForm.get('last_name')?.touched && contactForm.get('last_name')?.errors?.['minlength']?.requiredLength}} characters.</div>
    </div>
    <div class="mb-4">
        <label for="phone" class="form-label">Phone</label>
        <input type="phone" class="form-control" id="phone" name="phone" required formControlName="phone">
        <div *ngIf="contactForm.get('phone')?.touched && contactForm.get('phone')?.errors?.['required']" class="alert alert-danger">This field is required.</div>
        <div *ngIf="contactForm.get('phone')?.touched && contactForm.get('phone')?.errors?.['minlength']" class="alert alert-danger">Name must be longer than {{contactForm.get('phone')?.touched && contactForm.get('phone')?.errors?.['minlength']?.requiredLength}} characters.</div>
    </div>

    <div class="d-grid gap-2 col-4 float-center" style="width: auto;">
        <button type="submit" class="btn btn-info btn-lg" [disabled]="contactForm.invalid" >Sign Up</button>
    </div>
</form>
<br>
<div class="d-grid gap-2 col-4 float-center" style="width: auto;">
    <a routerLink="/login"><button type="submit" class="btn-register btn-info btn-lg">Login</button></a>
</div>

</div>
