
        <button type="button" (click)="openFormModal()" class="boton-ad btn-dark">
          <i class="fa-duotone fa-plus"></i>
        </button>
  
  <!--form modal-->
  <div class="modal fade myCustomModalClass" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">New category</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <div> <label style="text-align: left;" id="labelName" for="name"> NAME</label> </div>
            <div> <input class="caja-texto" type="text" name="name" id="name" [(ngModel)] = "categories!.name"> </div>
            <div> <label for="name" id="labelType"> TYPE</label></div>
            <div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="expense"
                  checked [(ngModel)] = "categories!.type">
                <label class="form-check-label" id="labelExpense" for="exampleRadios1">
                  Expense
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="income">
                <label class="form-check-label" id="labelIncome" for="exampleRadios2" checked [(ngModel)] = "categories!.type">
                  Income
                </label>
              </div>
            </div>
             <ul class="bloque-ul">
              <div><label for="color" id="labelColor"> COLOR</label></div>
              <li *ngFor="let color of colores">
                <button type="button" [class]="color.class" [ngClass]="color.clicked ? 'clicked' : ''" (click)="agregarColor(color.color)"></button>
              </li>
            </ul>
            <ul class="bloque-ul">
              <div><label for="icon" id="labelIcon"> ICON</label></div>
              <li *ngFor="let icono of iconos">
                <button type="button" class="btn btn-gris btn-circles" [ngClass]="icono.clicked ? 'clicked' : ''" (click)="agregarIcono(icono.icon)"><i [class]="icono.icon"></i></button>
              </li>
            </ul>
            <div><button type="button" class="btn btn-create col-md-12"
                (click)="saveSomeThing()">Create</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div id="Test">

</div>
