<div class="head-category">
    <div class="fecha">
        <h5>March 2022</h5>
    </div>
    <h2 class="monto">{{montoTotalCategorias | currency}}</h2>
    <p class="submonto">Total Expenses</p>
    <div>
        <ul *ngFor="let category of categories" class="cajitas col-md-12">
            <li class="col-md-4" [style.border-color]="category.color">
                <button class="btn-circles" [style.background]="category.color" [style.border]="category.color">
                    <i class="icono {{category.icon}}"></i>
                </button>
                <div class="texto-card">
                    <div class="titulo-card">{{category.name}}</div>
                    <div class="monto-card">{{ category.total | currency }}</div>
                </div>
            </li>
        </ul>
        <app-modal (newCategory)="addNewCategory($event)"></app-modal>
    </div>

</div>