.head-category {
    align-items: center;
    text-align: center;
}

.monto {
    color: red;
    font-weight: 600;
    font-size: 35px;
}

.submonto {
    font-weight: 300;
}

.fecha {
    width: 130px;
    background-color: rgb(220, 230, 227);
    border-radius: 5px;
    margin: 0px auto;
}

.category-card {
    border: 2px solid rgb(214, 214, 214);
    border-radius: 5px;
}


.cajitas li {
    list-style: none;
    float: left;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 80px;
    border-width: 3px;
    border-style: solid;
}

.borde-1 {
    border: solid 3px #e84148;
    background-color: #e84148;
}

.borde-2 {
    border: solid 3px #ee702f;
    background-color: #ee702f;
}
.borde-3 {
    border: solid 3px #f49d29;
    background-color: #f49d29;
    
}
.borde-4 {
    border: solid 3px #37b080;
    background-color: #37b080;
    
}
.borde-5 {
    border: solid 3px #31b4a4;
    background-color: #31b4a4;
    
}
.borde-6 {
    border: solid 3px #1cb7d2;
    background-color: #1cb7d2;
    
}
.borde-7 {
    border: solid 3px #2fa5de;
    background-color: #2fa5de;
    
}
.borde-8 {
    border: solid 3px #4e79bc;
    background-color: #4e79bc;
    
}
.borde-9 {
    border: solid 3px #6d6d6d;
    background-color: #6d6d6d;
    
}

.borde-10 {
    border: solid 3px #8400ff;
    background-color: #8400ff;
    
}


.btn-circles {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 22px;
    float: left;
    overflow: hidden;
    
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
}

.texto-card{
    padding-left: 10px;
    float: right;
    width: 70%;
    text-align: left;
}
.icono{
    font-size: 22px;
    color: white;
    position: relative;
    top: 0;
    left: -1px;
}

.monto-card{
    font-size: 25px;
    font-weight: bold;
}

.titulo-card{
    font-size: 15px;
    color: #696969;
}