<a class="w3-bar-item w3-button" routerLink="/home/categories" routerLinkActive="active"> 
    <img alt=""  src="../assets/iconos/menu_g.png" class="icono"/> Categories
  </a>

  <a class="w3-bar-item w3-button" routerLink="/home/transaction" routerLinkActive="active"> 
    <img  alt="" src="../assets/iconos/transactions_g.png" class="icono" > Transactions
  </a>

  <a class="w3-bar-item w3-button" routerLink="/home/budgets" routerLinkActive="active"> 
    <img alt="" src="../assets/iconos/budget_g.png" class="icono"/> Budgets
  </a>
